.mainContainer {
  margin: 0 auto;
  margin-top: clamp(5em, 18vh, 8em);
  padding: 0;
  width: calc(100% - 6em);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.title {
  margin: 0.5em;
  margin-bottom: 0;
  font-size: 2.5em;
  color: #5fe03f;
}

.noCards {
  margin: auto;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 3em;
  color: #d2fac8;

  text-align: justify;
  text-justify: auto;
}

.noCards > .lineOne {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 0.5s ease-in-out 0.25s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.container {
  margin-top: 2em;
  margin-bottom: 2.5em;
  padding: 1em 0;
  width: 100%;
  min-height: max-content;
  border: solid 2px #5fe03f;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
  overflow-x: scroll;
  color: #5fe03f;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-margin-bottom: 10em;
}

.container > * {
  scroll-snap-align: center;
}

.containerWrap {
  margin-top: 2em;
  margin-bottom: 2.5em;
  padding: 1.25em 0;
  /* padding-bottom: 1.5em; */
  /* min-height: max-content; */
  border: solid 2px #5fe03f;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  color: #5fe03f;
  scroll-margin-bottom: 10em;
}

.scrollLeft,
.scrollRight {
  margin: 1.5em;
  padding: 0.5em;
  color: #5fe03f;
  background-color: #0d2606;
  border: solid 2px #1f590e;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.3s ease-in-out;
}

.scrollLeft:hover,
.scrollRight:hover,
.down:hover {
  cursor: pointer;
  border: solid 2px #5fe03f;
}

.scrollLeft {
  left: 0;
  transform: rotate(90deg);

  /*   opacity: 0;
  animation: move 0.5s ease-in-out 0.5s;
  animation-fill-mode: forwards; */
}

.scrollRight {
  right: 0;
  transform: rotate(270deg);

  /*   opacity: 0;
  animation: move 0.5s ease-in-out 0.5s;
  animation-fill-mode: forwards; */
}

/* @keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.down {
  padding: 0.5em;
  color: #5fe03f;
  background-color: #0d2606;
  border: solid 2px #1f590e;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.75em;
  left: 50%;

  /*   opacity: 0;
  animation: move 0.5s ease-in-out 0.5s;
  animation-fill-mode: forwards; */
}

.none {
  display: none;
}

/* height */
.container::-webkit-scrollbar {
  height: 0.5em;
}

/* Track */
.container::-webkit-scrollbar-track {
  width: 1em;
  background: transparent;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #1f590e;
  border-radius: 10px;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #5fe03f;
}

/* @media (max-width: 720px) {
  .mainContainer {
    margin: 0;
    width: 100%;
  }

  .container {
    width: 100%;
    background-color: red;
    flex-flow: column;
  }

  .containerWrap {
    width: 100%;
    background-color: red;
    flex-flow: column;
  }

  .scrollLeft,
  .scrollRight,
  .down {
    display: none;
  }
} */
